<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <header>
      <h1 class="page-title">current games</h1>
    </header>
    <div class="row">
      <div class="col-xs-12 col-md-8 formatted-table" id="game-list">
        <table>
          <tr>
            <th>Game Name</th>
            <th>Player Count</th>
            <th>Duration</th>
            <th>Snake Length</th>
          </tr>
        <% var count = 0; %>
        <% Object.keys(games).forEach(function(game){ %>
            <tr>
              <td><a href="<%= link %><%= game %>"><%= game %></a></td>
              <td><%= players[count] %></td>
              <td><%= duration[count] %></td>
              <td><%= snakeLength[count] %></td>
            </tr>
          <% count++; %>
        <% }) %>
        </table>
      </div>
    </div>
  </div>
<% include _partials/footer %>
