<% include _partials/header %>
<% include _partials/navigation %>
  <div class="container-fluid">
    <% console.log(username) %>
    <header>
      <h1 class="page-title"><%= gameid %></h1>
    </header>
      <div style="<%= displayWidth*20 %>" id="game-panel" data-game="<%= gameid %>">
        <canvas id="display" height="<%= displayHeight*20 %>" width="<%= displayWidth*20 %>"></canvas>
        <% if(!spectate) { %>
        <div id="control-panel" style="width: <%= displayWidth*20 %>">
          <button id="moveup">up</button>
          <button id="movedown">down</button>
          <button id="moveleft">left</button>
          <button id="moveright">right</button>
          <button id="restart">restart</button>
        </div>
        <script src="/js/controls.js"></script>
        <% } %>
      </div>
      <div id="right-panel">
        <div id="move-history">
        </div>
        <div id="chat-entries">
        </div>
        <div id="chat-submission" class="container-fluid">
          <form id="chatting-form" action="#" method="post" autocomplete="off">
            <input type="submit" id="submit-msg" value="submit"></button>
            <div>
              <input type="hidden" name="username-hidden" id="username-hidden" value="<%= username %>">
              <input type="text" id="msg" name="msg" placeholder="chat..."></input>
             </div>
           </form>
        </div>
      </div>
  </div>
</body>
<script src="/js/gameSocket.js"></script>
</html>
